<div class="container">
  <span class="skills">skills</span>
  <div class="content">
    <div class="skill">
      <img src="../../assets/html.png" alt="html" />
      <span class="title">html</span>
    </div>
    <div class="skill">
      <img src="../../assets/css.png" alt="css" />
      <span class="title">css</span>
    </div>
    <div class="skill">
      <img src="../../assets/js.png" alt="js" />
      <span class="title">javascript</span>
    </div>
    <div class="skill">
      <img src="../../assets/ts.png" alt="ts" />
      <span class="title">typescript</span>
    </div>
    <div class="skill">
      <img src="../../assets/react.png" alt="react" />
      <span class="title">react</span>
    </div>
    <div class="skill">
      <img src="../../assets/redux.png" alt="redux" />
      <span class="title">redux</span>
    </div>
    <div class="skill">
      <img src="../../assets/angular_icon_136958.png" alt="angular" />
      <span class="title">angular</span>
    </div>
    <div class="skill">
      <img src="../../assets/php.png" alt="php" />
      <span class="title">php</span>
    </div>
    <div class="skill">
      <img src="../../assets/flutter.png" alt="flutter" />
      <span class="title">flutter</span>
    </div>
    <div class="skill">
      <img src="../../assets/graph.png" alt="graph" />
      <span class="title">graphQL</span>
    </div>
    <div class="skill">
      <img src="../../assets/axios.png" alt="axios" />
      <span class="title">bcrypt</span>
    </div>
    <div class="skill">
      <img src="../../assets/multer.png" alt="multer" />
      <span class="title">multer</span>
    </div>
    <div class="skill">
      <img src="../../assets/node.png" alt="node" />
      <span class="title">node js</span>
    </div>
    <div class="skill">
      <img src="../../assets/ex.png" alt="express" />
      <span class="title">express</span>
    </div>
    <div class="skill">
      <img src="../../assets/jwt.png" alt="jwt" />
      <span class="title">JsonWebToken</span>
    </div>
    <div class="skill">
      <img src="../../assets/maria.png" alt="maria" />
      <span class="title">MariaDB</span>
    </div>
    <div class="skill">
      <img src="../../assets/my.png" alt="my" />
      <span class="title">mySQL</span>
    </div>
    <div class="skill">
      <img src="../../assets/postgres.png" alt="postgres" />
      <span class="title">postgresQL</span>
    </div>
    <div class="skill">
      <img src="../../assets/mongo.png" alt="mongo" />
      <span class="title">mongoDB</span>
    </div>
    <div class="skill">
      <img src="../../assets/sequelize.png" alt="sequelize" />
      <span class="title">sequelize</span>
    </div>
    <div class="skill">
      <img src="../../assets/ps.png" alt="photoshop" />
      <span class="title">photoshop</span>
    </div>
    <div class="skill">
      <img src="../../assets/xd.png" alt="xd" />
      <span class="title">adobe Xd</span>
    </div>
    <div class="skill">
      <img src="../../assets/ae.png" alt="ae" />
      <span class="title">after effects</span>
    </div>
    <div class="skill">
      <img src="../../assets/corel.png" alt="corel" />
      <span class="title">corel draw</span>
    </div>
    <div class="skill">
      <img src="../../assets/fusion.png" alt="fusion" />
      <span class="title">fusion 360</span>
    </div>
  </div>
  <img src="../../assets/nube.png" alt="nube" class="nube" />
</div>
