<div class="container">
    <span class="skills">skills</span>
    <div class="content">
        <div class="skill">
            <img src="../../assets/html.png" alt="html" />
            <span>html</span>
        </div>
        <div class="skill">
            <img src="../../assets/css.png" alt="css" />
            <span>css</span>
        </div>
        <div class="skill">
            <img src="../../assets/js.png" alt="js" />
            <span>javascript</span>
        </div>
        <div class="skill">
            <img src="../../assets/ts.png" alt="ts" />
            <span>typescript</span>
        </div>
        <div class="skill">
            <img src="../../assets/react.png" alt="react" />
            <span>react</span>
        </div>
        <div class="skill">
            <img src="../../assets/redux.png" alt="redux" />
            <span>redux</span>
        </div>
        <div class="skill">
            <img src="../../assets/angular_icon_136958.png" alt="angular" />
            <span>angular</span>
        </div>
        <div class="skill">
            <img src="../../assets/php.png" alt="php" />
            <span>php</span>
        </div>
        <div class="skill">
            <img src="../../assets/flutter.png" alt="flutter" />
            <span>flutter</span>
        </div>
        <div class="skill">
            <img src="../../assets/graph.png" alt="graph" />
            <span>graphQL</span>
        </div>
        <div class="skill">
            <img src="../../assets/axios.png" alt="axios" />
            <span>bcrypt</span>
        </div>
        <div class="skill">
            <img src="../../assets/multer.png" alt="multer" />
            <span>multer</span>
        </div>
        <div class="skill">
            <img src="../../assets/node.png" alt="node" />
            <span>node js</span>
        </div>
        <div class="skill">
            <img src="../../assets/ex.png" alt="express" />
            <span>express</span>
        </div>
        <div class="skill">
            <img src="../../assets/jwt.png" alt="jwt" />
            <span>JsonWebToken</span>
        </div>
        <div class="skill">
            <img src="../../assets/maria.png" alt="maria" />
            <span>MariaDB</span>
        </div>
        <div class="skill">
            <img src="../../assets/my.png" alt="my" />
            <span>mySQL</span>
        </div>
        <div class="skill">
            <img src="../../assets/postgres.png" alt="postgres" />
            <span>postgresQL</span>
        </div>
        <div class="skill">
            <img src="../../assets/mongo.png" alt="mongo" />
            <span>mongoDB</span>
        </div>
        <div class="skill">
            <img src="../../assets/sequelize.png" alt="sequelize" />
            <span>sequelize</span>
        </div>
        <div class="skill">
            <img src="../../assets/ps.png" alt="photoshop" />
            <span>photoshop</span>
        </div>
        <div class="skill">
            <img src="../../assets/xd.png" alt="xd" />
            <span>adobe Xd</span>
        </div>
        <div class="skill">
            <img src="../../assets/ae.png" alt="ae" />
            <span>after effects</span>
        </div>
        <div class="skill">
            <img src="../../assets/corel.png" alt="corel" />
            <span>corel draw</span>
        </div>
        <div class="skill">
            <img src="../../assets/fusion.png" alt="fusion" />
            <span>fusion 360</span>
        </div>
    </div>
    <img src="../../assets/nube.png" alt="nube" class="nube"/>
</div>
