<div class="container">
  <span class="about">about me</span>
  <div class="content">
    <div class="first">
      <div class="photo">
        <img src="../../assets/perfil.png"  alt="photo" />
      </div>
      <div>
        <div class="lineFirst">
          <span>name: </span>
          <span>MARCELO SPAGNUOLO</span>
        </div>
        <div class="lineFirst">
          <span>from: </span>
          <span>LEONES, CORDOBA, ARGENTINA</span>
        </div>
        <div class="lineFirst">
          <span>profession: </span>
          <span>FULL STACK DEVELOPER</span>
        </div>
        <div class="lineFirst">
          <span>telephone: </span>
          <span>+54 351 61855440</span>
        </div>
        <div class="lineFirst">
          <span>email: </span>
          <span>lu4huf@gmail.com</span>
        </div>
      </div>
    </div>
    <p class="parrafo">I am a passionate developer. I have more than 30 years in the world of programming. My hobby became my profession and working on what one is passionate about is priceless.</p>
    <p class="parrafo">I am a single man, with his children already adults and independent. I live in a small town in the center of Argentina and I am only in charge of taking care of my elderly mother.</p>
    <p class="parrafo">My career in the IT world began long before the first PC was invented, before Bill Gates wrote the first DOS, and in these almost 40 years I have gone through countless programming languages, first for developing desktop applications and later, with The arrival of the internet made me more focused on web development.</p>
    <div class="title">
      <span>Hobbies</span>
    </div>
    <div class="hobby">
      <div class="hob">
        <img src="../../assets/compu.png" alt="desktop" />
        <span>development</span>
      </div>
      <div class="hob">
        <img src="../../assets/run.png"  alt="run" />
        <span>running</span>
      </div>
      <div class="hob">
        <img src="../../assets/images.png" alt="tennis" />
        <span>tennis</span>
      </div>
      <div class="hob">
        <img src="../../assets/slim.png" alt="slim" />
        <span>health life</span>
      </div>
      <div class="hob">
        <img src="../../assets/travel.png" alt="travel" />
        <span>travel</span>
      </div>
      <div class="hob">
        <img src="../../assets/mountain.png" alt="mountain" />
        <span>mountain bike</span>
      </div>
      <div class="hob">
        <img src="../../assets/medita.png" alt="meditation" />
        <span>meditation</span>
      </div>
    </div>
  </div>
  <img src="../../assets/nube2.png" alt="cloud" class="cloud" />
</div>