<div class="container">
  <span class="employment">employment</span>
  <img src="../../assets//nube3.png" alt="nube" class="nube" />
  <div class="content">
    <div class="job">
      <div class="round"></div>
      <span>apr 2022 - present</span>
      <div class="detail">
        <span>Odev.Tech - Full time</span>
        <span>Montevideo, Uruguay</span>
        <span>Full Stack Developer</span>
        <span
          >In this software factory I have worked on various projects with
          technologies such as React, Redux, Angular, PHP, Flutter, Python,
          NodeJs, etc.</span
        >
      </div>
    </div>
    <div class="job">
      <div class="round"></div>
      <span>ago 2021 - nov 2021</span>
      <div class="detail">
        <span>AlterCap - Freelancer</span>
        <span>Santiago, Región Metropolitana de Santiago, Chile</span>
        <span>Full Stack Developer</span>
        <span
          >I worked in this fintech team developing a web application for
          investments in Chilean companies. Mainly with React, NodeJS and
          GraphQL.</span
        >
      </div>
    </div>
    <div class="job">
      <div class="round"></div>
      <span>jun 2021 - jul 2021</span>
      <div class="detail">
        <span>Garage de Ideas - Freelancer</span>
        <span>Buenos Aires, Argentina</span>
        <span>Full Stack Developer</span>
        <span
          >Optimization, bug fixes and implementation of new functionalities of
          a production site.</span
        >
      </div>
    </div>
    <div class="job">
      <div class="round"></div>
      <span>dec 2020 - feb 2021</span>
      <div class="detail">
        <span>Henry Institute</span>
        <span>Córdoba, Argentina</span>
        <span>Teacher assistant</span>
        <span
          >My role is to guide students, help them understand basic concepts and
          reinforce theory by providing explanations and support in their daily
          homework.</span
        >
      </div>
    </div>
    <div class="job">
      <div class="round"></div>
      <span>jan 2010 - nov 2019</span>
      <div class="detail">
        <span>Playa Balcarce - full time</span>
        <span>Córdoba, Argentina</span>
        <span>Software developer</span>
        <span
          >Development, implementation and training of the personnel of the
          comprehensive management system for the control and management of the
          business.</span
        >
      </div>
    </div>
    <div class="job">
      <div class="round"></div>
      <span>jan 2004 - sep 2009</span>
      <div class="detail">
        <span>Farmamundo - full time</span>
        <span>Córdoba, Argentina</span>
        <span>Software developer</span>
        <span
          >Co-Founder and software developer of the business's sales management
          and stock control system.</span
        >
      </div>
    </div>
  </div>
</div>
