<div class="container">
  <div class="card">
    <div class="box">
      <img src="../../../assets/patagonia.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Patagonia Ecommerce</h2>
      <p>Responsive website on Ecommerce of Patagonia beer.</p>
      <p>
        <strong>Technologies:</strong> Javascript, React and Redux for the
        frontend; Mysql, Sequileze, Nodejs and Express for the backend.
      </p>
      <p><strong>Organization:</strong> Henry SA</p>
      <div class="buttons">
        <a
          href="https://ecommerce-patagonia.vercel.app/"
          target="_blank"
          rel="noreferrer"
          class="boton"
          >VIEW SITE</a
        >
        <a
          href="https://github.com/MarceloSpagnuolo/ecommerce_patagonia"
          target="_blank"
          rel="noreferrer"
          class="boton"
          >GITHUB</a
        >
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/henry.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Henry Manager</h2>
      <p>
        Responsive website for the management and control of students of a study
        academy.
      </p>
      <p>
        <strong>Technologies:</strong> Typescript, React and Redux for the
        Frontend; MongoDB, Mongoose, NodeJS and express for the backend.
      </p>
      <p><strong>Organization:</strong>Henry SA</p>
      <div class="buttons">
        <a
          href="https://github.com/MarceloSpagnuolo/Proyecto-Final-ft07-04"
          target="_blank"
          rel="noreferrer"
          class="boton"
          >GITHUB</a
        >
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/movie.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>MovieDB</h2>
      <p>
        Responsive website about movies using an api available on the internet.
      </p>
      <p>
        <strong>Tecnologies:</strong> Javascript, React and Redux for the
        frontend; NodeJs and Express for the backend.
      </p>
      <p><strong>Organization:</strong> Henry SA</p>
      <div class="buttons">
        <a
          href="https://github.com/MarceloSpagnuolo/FT-M2/tree/master/12-React-Redux"
          target="_blank"
          rel="noreferrer"
          class="boton"
          >GITHUB</a
        >
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/mmn.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Medellín Media Network</h2>
      <p>
        Institutional website of an advertising agency in the city of Medellin,
        Colombia.
      </p>
      <p><strong>Technologies:</strong></p>
      Typescript and React on the frontend.
      <p><strong>Organization:</strong> Medellin Media Network.</p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/verano.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>El Verano en tu Pileta</h2>
      <p>
        Institutional website of a pool sales store in the city of Leones,
        Argentina.
      </p>
      <p><strong>Technologies:</strong> Wordpress.</p>
      <p><strong>Organization:</strong> Summer your pool.</p>
      <div class="buttons">
        <a
          href="http://elveranoentupileta.com.ar"
          target="_blank"
          rel="noreferrer"
          class="boton"
          >VIEW SITE</a
        >
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/tenis.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>CT Capacitaciones de Tenis</h2>
      <p>Institutional website of an academy for tennis instructors.</p>
      <p><strong>Technologies:</strong> Wordpress</p>
      <p><strong>Organization:</strong> CT Tennis Trainings</p>
      <div class="buttons">
        <a
          href="https:/ctcapacitacionesdetenis.com.ar"
          target="_blank"
          rel="noreferrer"
          class="boton"
          >VIEW SITE</a
        >
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/as.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>AS Inmobiliaria</h2>
      <p>
        Institutional website and database on properties available in the real
        estate agency.
      </p>
      <p>
        <strong>Technologies:</strong> Typescript, React and Redux in frontend;
        Mysql, Sequelize, NodeJS and Express in backend.
      </p>
      <p><strong>Organization:</strong> AS real estate.</p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/genesis.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>La Genesis 99.7</h2>
      <p>
        Institutional website of an FM radio station in the city of Leones
        Argentina with live programming broadcast.
      </p>
      <p><strong>Technologies:</strong> Typescript, React and Redux.</p>
      <p><strong>Organization:</strong> Genesis Group.</p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/older.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Mayores en Acción</h2>
      <p>
        Redesign and implementation of new functionalities of an existing
        website for the elderly.
      </p>
      <p><strong>Technologies:</strong> PHP, Wordpress.</p>
      <p><strong>Organization:</strong> Garage of Ideas.</p>
      <div class="buttons">
        <a
          href="https://www.mayoresenaccion.org.ar/"
          target="_blank"
          rel="noreferrer"
          class="boton"
          >VIEW SITE</a
        >
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/fertility.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Journey Fertility</h2>
      <p>
        Institutional website about a fertility treatment clinic in the USA.
      </p>
      <p><strong>Technologies:</strong> Typescript and React.</p>
      <p><strong>Organization:</strong> Journey Fertility</p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/rokin.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Rokin (ex Altercap)</h2>
      <p>
        Team development for a Chilean Fintech of a complete website for
        managing investments in Chilean companies.
      </p>
      <p>
        <strong>Technologies:</strong> Typescript, React and Hooks for the
        frontend; GraphQL, NodeJs and Express for the backend.
      </p>
      <p><strong>Organization:</strong> Altercap SL</p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/aqualert.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Aqualert Web</h2>
      <p>
        Development of a promotional website on a mobile application to control
        water intake.
      </p>
      <p><strong>Technologies:</strong> Typescript, React.</p>
      <p><strong>Organization:</strong> Odev.tech</p>
      <div class="buttons">
        <a
          href="https://www.aqualertapp.com/"
          target="_blank"
          rel="noreferrer"
          class="boton"
          >VIEW SITE</a
        >
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/aqualertapp.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Aqualert App</h2>
      <p>
        Development of a mobile application to control and reminder water
        intake.
      </p>
      <p><strong>Technologies:</strong> Typescript, React Native.</p>
      <p><strong>Organization:</strong> Odev.tech</p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/gb.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>GlobalBlock Web</h2>
      <p>
        Development of a promotional website on a mobile application for buying
        and selling crypto currencies.
      </p>
      <p><strong>Technologies:</strong> Typescript, React.</p>
      <p><strong>Organization:</strong> Odev.tech</p>
      <div class="buttons">
        <a
          href="https://www.globalblock.eu/"
          target="_blank"
          rel="noreferrer"
          class="boton"
          >VIEW SITE</a
        >
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/gba.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>GlobalBlock App</h2>
      <p>
        Team development of a mobile application for the purchase and sale of
        crypto currencies and virtual wallet.
      </p>
      <p><strong>Technologies:</strong> Flutter, Notepad, ApiRest</p>
      <p><strong>Organization:</strong> Odev.tech</p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/farma.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Farmanuario</h2>
      <p>
        Various scripts generated for data transformation and adaptation of
        different databases.
      </p>
      <p><strong>Technologies:</strong> PHP, MySql, Access DB</p>
      <p><strong>Organization:</strong> Odev.tech</p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/red.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Some bots</h2>
      <p>
        Development of some bots for managing Instagram and Linkedin accounts.
      </p>
      <p><strong>Technologies:</strong> Python</p>
      <p><strong>Organization:</strong> Odev.tech</p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/paracycling.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Paracycling App</h2>
      <p>
        Development of a responsive web application for tablets to be used by
        the cycling judges of the Paralympic Games..
      </p>
      <p><strong>Technologies:</strong> React, Typescript, Firebase</p>
      <p><strong>Organization:</strong> Odev.tech</p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/ixily.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Ixily.io</h2>
      <p>
        Development of a subscription website for the implementation of
        strategies and ideas for the cryptocurrency market..
      </p>
      <p><strong>Technologies:</strong> Typescript, Angular.</p>
      <p><strong>Organization:</strong> Odev.tech</p>
      <div class="buttons">
        <a
          href="https://www.ixily.io/"
          target="_blank"
          rel="noreferrer"
          class="boton"
          >VIEW SITE</a
        >
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/odev.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Odev.tech</h2>
      <p>Development of a promotional website for the Odev.tech.</p>
      <p><strong>Technologies:</strong> Typescript, React, TailwindCss.</p>
      <p><strong>Organization:</strong> Odev.tech</p>
      <div class="buttons">
        <a
          href="https://www.odev.tech/"
          target="_blank"
          rel="noreferrer"
          class="boton"
          >VIEW SITE</a
        >
      </div>
    </div>
  </div>
</div>
