<div class="container">
  <div class="card">
    <div class="box">
      <img src="../../../assets/patagonia.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Patagonia Ecommerce</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
        labore voluptate, delectus, voluptas adipisci ex modi vero tenetur eos
        suscipit sequi quisquam inventore repellat corrupti. Error reiciendis
        aliquid officia impedit.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/henry.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Henry Manager</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
        labore voluptate, delectus, voluptas adipisci ex modi vero tenetur eos
        suscipit sequi quisquam inventore repellat corrupti. Error reiciendis
        aliquid officia impedit.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/movie.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>MovieDB</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
        labore voluptate, delectus, voluptas adipisci ex modi vero tenetur eos
        suscipit sequi quisquam inventore repellat corrupti. Error reiciendis
        aliquid officia impedit.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/mmn.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Medellín Media Network</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
        labore voluptate, delectus, voluptas adipisci ex modi vero tenetur eos
        suscipit sequi quisquam inventore repellat corrupti. Error reiciendis
        aliquid officia impedit.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/verano.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>El Verano en tu Pileta</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
        labore voluptate, delectus, voluptas adipisci ex modi vero tenetur eos
        suscipit sequi quisquam inventore repellat corrupti. Error reiciendis
        aliquid officia impedit.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/tenis.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>CT Capacitaciones de Tenis</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
        labore voluptate, delectus, voluptas adipisci ex modi vero tenetur eos
        suscipit sequi quisquam inventore repellat corrupti. Error reiciendis
        aliquid officia impedit.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/as.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>AS Inmobiliaria</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
        labore voluptate, delectus, voluptas adipisci ex modi vero tenetur eos
        suscipit sequi quisquam inventore repellat corrupti. Error reiciendis
        aliquid officia impedit.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/genesis.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>La Genesis 99.7</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
        labore voluptate, delectus, voluptas adipisci ex modi vero tenetur eos
        suscipit sequi quisquam inventore repellat corrupti. Error reiciendis
        aliquid officia impedit.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/older.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Mayores en Acción</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
        labore voluptate, delectus, voluptas adipisci ex modi vero tenetur eos
        suscipit sequi quisquam inventore repellat corrupti. Error reiciendis
        aliquid officia impedit.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/fertility.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Journey Fertility</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
        labore voluptate, delectus, voluptas adipisci ex modi vero tenetur eos
        suscipit sequi quisquam inventore repellat corrupti. Error reiciendis
        aliquid officia impedit.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/rokin.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Rokin (ex Altercap)</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
        labore voluptate, delectus, voluptas adipisci ex modi vero tenetur eos
        suscipit sequi quisquam inventore repellat corrupti. Error reiciendis
        aliquid officia impedit.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/aqualert.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Aqualert Web</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
        labore voluptate, delectus, voluptas adipisci ex modi vero tenetur eos
        suscipit sequi quisquam inventore repellat corrupti. Error reiciendis
        aliquid officia impedit.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/gb.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>GlobalBlock Web</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
        labore voluptate, delectus, voluptas adipisci ex modi vero tenetur eos
        suscipit sequi quisquam inventore repellat corrupti. Error reiciendis
        aliquid officia impedit.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/gba.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>GlobalBlock App</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
        labore voluptate, delectus, voluptas adipisci ex modi vero tenetur eos
        suscipit sequi quisquam inventore repellat corrupti. Error reiciendis
        aliquid officia impedit.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/farma.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Farmanuario</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
        labore voluptate, delectus, voluptas adipisci ex modi vero tenetur eos
        suscipit sequi quisquam inventore repellat corrupti. Error reiciendis
        aliquid officia impedit.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <img src="../../../assets/red.jpg" alt="image" />
    </div>
    <div class="details">
      <h2>Some bots</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
        labore voluptate, delectus, voluptas adipisci ex modi vero tenetur eos
        suscipit sequi quisquam inventore repellat corrupti. Error reiciendis
        aliquid officia impedit.
      </p>
    </div>
  </div>
</div>
